<section class="bg-main-light p-3 rounded-2 my-5 mx-auto w-75 shadow">
    <h1 class="text-main fw-bold fs-2">Change your password </h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="resetPassword()">
        <div class="my-3">
            <label class="mb-2" for="email"> email:</label>
            <input [ngClass]="{
                'is-vaild': !changePasswordForm.get('email')?.errors && (changePasswordForm.get('email')?.touched || changePasswordForm.get('email')?.dirty),
                'is-invalid': changePasswordForm.get('email')?.errors && (changePasswordForm.get('email')?.touched || changePasswordForm.get('email')?.dirty) ,
            }" formControlName="email"  type="email" id="email" placeholder="ex:example@example.com" class="form-control" [disabled]="true">
            @if(changePasswordForm.get('email')?.errors && changePasswordForm.get('email')?.touched){
                <div class="alert alert-warning fs-6 my-3 rounded-2 fw-bold">
                    @if(changePasswordForm.get('email')?.getError('required')){<p class="m-0">email is required</p>}
                    @if(changePasswordForm.get('email')?.getError('email')){<p class="m-0">email must be a vaild email</p>}
                </div>
            }
        </div>
        <div class="my-3">
            <label class="mb-2" for="newPassword"> newPassword:</label>
            <input [ngClass]="{
                'is-vaild': !changePasswordForm.get('newPassword')?.errors && (changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('newPassword')?.dirty),
                'is-invalid': changePasswordForm.get('newPassword')?.errors && (changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('newPassword')?.dirty) ,
            }" formControlName="newPassword"  type="password" id="newPassword" placeholder="ex:123123" class="form-control">
            @if(changePasswordForm.get('newPassword')?.errors && changePasswordForm.get('newPassword')?.touched){
                <div class="alert alert-warning fs-6 my-3 rounded-2 fw-bold">
                    @if(changePasswordForm.get('newPassword')?.getError('required')){<p class="m-0">New password is required</p>}
                    @if(changePasswordForm.get('newPassword')?.getError('pattern')){<p class="m-0">New password must not be less than 6 characters</p>}
                </div>
            }
        </div>
        <button [disabled]="changePasswordForm.invalid" type="submit" class="btn-main d-block mx-auto w-50">Login</button>
    </form>
</section>