<section class="bg-main-light p-3 rounded-2 my-5 mx-auto w-75 shadow">
    <h1 class="text-main fw-bold fs-2">Find your account</h1>
    <p>We will send you an email to reset your password</p>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
        <div class="my-3">
            <label class="mb-2 cursor-pointer" for="email"> email:</label>
            <input [ngClass]="{
                'is-valid': !forgetPasswordForm.get('email')?.errors && (forgetPasswordForm.get('email')?.touched || forgetPasswordForm.get('email')?.dirty),
                'is-invalid': forgetPasswordForm.get('email')?.errors && (forgetPasswordForm.get('email')?.touched || forgetPasswordForm.get('email')?.dirty) ,
            }" formControlName="email" type="email" id="email" placeholder="type your email here.." class="form-control">
            @if(forgetPasswordForm.get('email')?.errors && forgetPasswordForm.get('email')?.touched){
                <div class="alert alert-warning fs-6 my-3 rounded-2 fw-bold">
                    @if(forgetPasswordForm.get('email')?.getError('required')){<p class="m-0">email is required</p>}
                    @if(forgetPasswordForm.get('email')?.getError('email')){<p class="m-0">email must be a vaild email</p>}
                </div>
            }
        </div>
        <button [disabled]="forgetPasswordForm.invalid" type="submit" class="btn-main d-block mx-auto w-50">send</button>
    </form>
</section>