<section class="bg-main-light p-3 rounded-2 my-5 mx-auto w-75 shadow">
    <h1 class="text-main fw-bold fs-2">Login Now.. </h1>
    <!-- @if(textMessage){ <p class="alert alert-warning w-50 text-center mx-auto shadow p-2 rounded-1 ">{{textMessage}}</p>} -->
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
        <div class="my-3">
            <label class="mb-2" for="email"><span class="text-danger">*</span> email:</label>
            <input [ngClass]="{
                'is-vaild': !loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
                'is-invalid': loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty) ,
            }" formControlName="email" type="email" id="email" placeholder="ex:example@example.com" class="form-control">
            @if(loginForm.get('email')?.errors && loginForm.get('email')?.touched){
                <div class="alert alert-warning fs-6 my-3 rounded-2 fw-bold">
                    @if(loginForm.get('email')?.getError('required')){<p class="m-0">email is required</p>}
                    @if(loginForm.get('email')?.getError('email')){<p class="m-0">email must be a vaild email</p>}
                </div>
            }
        </div>
        <div class="my-3">
            <label class="mb-2" for="password"><span class="text-danger">*</span> password:</label>
            <input [ngClass]="{
                'is-vaild': !loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
                'is-invalid': loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty) ,
            }" formControlName="password" type="password" id="password" placeholder="ex:123123" class="form-control">
            @if(loginForm.get('password')?.errors && loginForm.get('password')?.touched){
                <div class="alert alert-warning fs-6 my-3 rounded-2 fw-bold">
                    @if(loginForm.get('password')?.getError('required')){<p class="m-0">password is required</p>}
                    @if(loginForm.get('password')?.getError('pattern')){<p class="m-0">password must not be less than 6 characters</p>}
                </div>
            }
        </div>
        <button [disabled]="loginForm.invalid" type="submit" class="btn-main d-block mx-auto w-50 w-25">Login</button>
    </form>
    <a class="d-block mx-auto w-50 pt-2 text-center fw-lighter " routerLink="/forgetPassword"> Forgot password? </a>
</section>